h1,h2,h3,h4,p,body {
     font-family: 'IBM Plex Sans Thai', sans-serif;
}
html{
  /* background-image: url("src/bird-2.jpg");
  background-repeat: no-repeat;
  background-size:cover; */
  background-color: black;
}
.frame{
  max-width: 375px;
  margin: auto;
}
.preloader{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 100vh;
  background: black;
  z-index: 1000;
}
.preloader.active{
  transform: translateY(100vh);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}
.counter{
  position: relative;
  color: white;
  font-size: 120px;
  font-weight: bold;
  z-index:1;
}
.counter::after{
  content: '%';
  font-size: 60px;
  margin-left: 8px;
}
.hide{
  opacity: 0;
  transition: 1s;
  pointer-events:none;
}
  .path-1,.path-2,.path-3,.path-4,.path-5,.path-6,.path-7,.path-8,.rainbow5 {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
  }
 .path-1 {
    animation: dash 2s forwards;
  }
  .path-2 {
    animation: dash 2.25s forwards;
  }
  .path-3 {
    animation: dash 2.5s forwards;
  }
  .path-4 {
    animation: dash 2.75s forwards;
  }
  .path-5 {
    animation: dash 3s forwards;
  }
  .path-6 {
    animation: dash 3.25s forwards;
  }
  .path-7 {
    animation: dash-opacity 8s ease-out 3s forwards;
  }
  #human-loop  img{
    opacity:0;
    transform: translateY(50px);
  }

  .is-inview#human-loop  img{
    opacity:1;
    transform: translateY(0px);
    transition:all 1s ease-in;
  }

  .marquee {
    animation: marquee 9s linear infinite;
  }
  .marquee2 {
    animation: marquee2 9s linear infinite;
  }
  .marquee3 {
    animation: marquee3 5s linear infinite;
  }
  .marquee4 {
    animation: marquee4 5s linear infinite;
  }
  .marquee5 {
    animation: marquee 12s linear infinite;
  }
  .marquee6 {
    animation: marquee2 12s linear infinite;
  }


  @keyframes 
  dash {
    0% { stroke-dashoffset: 1700; }
    100% { stroke-dashoffset:0; }
  }

  @keyframes 
  dash-opacity {
    0% { stroke-dashoffset: 1700;
    opacity:0; }
    5% {
      stroke-dashoffset: 1615;
      opacity:1;
    }
    100% { stroke-dashoffset:0;
    opacity:1; }
  }

  @keyframes
  marquee {
      0% { transform: translateX(0%); }
      100% { transform: translateX(-100%); }
    }

  @keyframes
  marquee2 {
      0% { transform: translateX(100%); }
      100% { transform: translateX(0%); }
    }

    @keyframes
    marquee3 {
        0% { transform: translateX(0%); }
        100% { transform: translateX(100%); }
      }

    @keyframes
    marquee4 {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0%); }
      }  
 
body{
    transition:all 0.5s linear;
  }
