h1,h2,h3,h4,p,body {
     font-family: 'IBM Plex Sans Thai', sans-serif;
}

  .path-1,.path-2,.path-3,.path-4,.path-5,.path-6,.path-7 {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
  }
 .path-1 {
    animation: dash 5s linear alternate infinite;
  }
  .path-2 {
    animation: dash 5.25s linear alternate infinite;
  }
  .path-3 {
    animation: dash 5.5s linear alternate infinite;
  }
  .path-4 {
    animation: dash 5.75s linear alternate infinite;
  }
  .path-5 {
    animation: dash 6s linear alternate infinite;
  }
  .path-6 {
    animation: dash 6.25s linear alternate infinite;
  }
  .path-7 {
    animation: dash 4s linear alternate infinite;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
