h1,h2,h3,h4,p,body {
     font-family: 'IBM Plex Sans Thai', sans-serif;
}

  .path-1,.path-2,.path-3,.path-4,.path-5,.path-6,.path-7 {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
  }
 .path-1 {
    animation: dash 2s forwards;
  }
  .path-2 {
    animation: dash 2.25s forwards;
  }
  .path-3 {
    animation: dash 2.5s forwards;
  }
  .path-4 {
    animation: dash 2.75s forwards;
  }
  .path-5 {
    animation: dash 3s forwards;
  }
  .path-6 {
    animation: dash 3.25s forwards;
  }
  .path-7 {
    animation: dash 3s forwards;
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1500;
    }
    100% {
      stroke-dashoffset:0;
    }
  }
 
body{
    transition:all 0.5s linear;
  }
